{{> head}}

{{> navbar }}
<div class="row">
    <div class="col-sm-8">
        <div class="row m-3">
            <div class="col-sm-12 text-right">
                {{> crearGrupoModal}}
            </div>
        </div>
        {{#if errores}}
            <div class="alert alert-danger text-left" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <ul>
                    {{#each errores}}
                    <li>{{this.texto}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        {{#if grupos}}
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 m-3">
                    {{#each grupos}}
                        <div class="col mb-4">
                            <img src="{{this.imagenGrupo}}" class="card-img-top rounded" alt="{{this.nombreGrupo}}">
                            <div class="card-body">
                                <h5 class="card-title">{{this.nombreGrupo}}</h5>
                                <p class="card-text text-truncate" style="width: 230px;">{{this.descripcionGrupo}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><a href="/grupo/{{this.url}}" class="stretched-link">Seguir leyendo...</a></small>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <div class="alert alert-danger" role="alert">
                <h1>No se han registrado grupos.</h1>
            </div>
        {{/if}}
    </div>
    {{> buscador}}
</div>
{{> footer}}